@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

.text {
  /* For text color */
  color: blue;
  /* For text size */
  font-size: 32px;
  /* for text thickness */
  font-weight: 600;
  /* Text decoractions */
  text-decoration: underline;
  /* gap between the lines */
  line-height: 150%;
  /* gaps between letter */
  letter-spacing: 2px;
  /* font style */
  font-style: italic;
  /* font family */
  font-family: "Cormorant Garamond", serif;
}

.para {
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 20px;
  width: 600px;
  padding: 20px;
  /* border: 5px solid black; */
  /* border-top: 5px solid green;
  border-width: 10px;
  border-color: pink;
  border-style: solid; */
  margin: 20px;
  /* border-radius: 50%; */
  color: black;
  overflow: auto;
}
