html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fecdd3;
  color: #be123c;
  padding: 8px 16px;
}

.child {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #be123c;
  overflow: hidden;
}

.second {
  width: 5rem;
  height: 5rem;
}

.fourth {
  width: 5rem;
  height: 5rem;
} */

.header {
  height: 8vh;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6ede5;
}

.heading {
  color: #b8311b;
  font-size: 32px;
  cursor: pointer;
  font-weight: 700;
}

.profile-pic-wrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #b8311b;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  height: 92vh;
  display: flex;
}

.left {
  width: 15rem;
  height: 100%;
  background-color: #b8311b;
  color: #fff;
}

.nav-links {
  width: 100%;
  display: block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.r-top {
  position: relative;
}

.r-butom {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-heading {
  font-size: 20px;
  font-weight: 600;
}

.table-container {
  width: 100%;
  height: fit-content;
  border-radius: 0.5rem;
  border: 1px solid #f6c7c0;
  overflow: hidden;
  margin-block: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th-row {
  background-color: #f6c7c0;
}

.t-heading {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
}

.tb-row {
  border-bottom: 1px solid #f6c7c0;
}

.tb-row-last {
  border: none;
}

.t-data {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
}

.chip {
  padding: 0.25rem 0.5rem;
  color: #489454;
  font-weight: 500;
  background-color: #ced4da;
  width: fit-content;
  border-radius: 5rem;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-btn {
  background-color: #b8311b;
  color: #fff;
  padding-block: 0.5rem;
  width: 5rem;
  border: none;
  border-radius: 0.5rem;
}
