.name-input::placeholder {
  color: #000;
}

.link::before {
  content: "Link";
}

.link::after {
  content: "Link";
}

.text::first-letter {
  font-size: 40px;
}

.para::first-line {
  font-weight: 600;
}
